<% include head %>
    <div class="container my-3">
      <div class="row">
        <div class="col-12 col-md-9 mx-auto bg-white border-bottom border-light p-5">
          <h6 class="">Feel free to reach me:</h6>
          <div class="text-dark mt-3">
            <a class="text-body" href="mailto:xiang.yufeng@outlook.com"><i class="fas fa-envelope"></i></a>
            <a class="text-body" href="https://github.com/y-xiang"><i class="fab fa-github ml-3"></i></a>
            <a class="text-body d-none" href="https://twitter.com/FunXi0ng"><i class="fab fa-twitter ml-3">you find me</i></a>
            <a class="text-body" href="https://www.weibo.com/u/5586298228/"><i class="fab fa-weibo ml-3"></i></a>
          </div>
        </div>
      </div>
    </div>
<footer class="bg-white fixed-bottom">
    <span class="text-muted copy-right">© 2018 Evan's Frontend</span>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/javascripts/jquery-slim.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>