<% include head %>
    <div class="container-fluid my-3">
      <div class="row">
        <main class="col-12 col-md-9 mx-auto">
          <div class="container">
            <article class="row bg-white border-bottom border-light p-4">
              <h4 class="col-12 mb-4"><%= post.title %></h4>
              <div class="col-12 text-dark"><%- post.content %></div>
              <span class="col-12 text-secondary my-1 date">Last Updated at <%= post.updatedAt %></span>
          </div>
        </main>
      </div>
    </div>
<% include footer %>