<% include head %>
    <div class="container-fluid my-3">
      <div class="row">
        <main class="col-12 col-md-9">
          <div class="container">
            <article class="row bg-white border-bottom border-light p-4">
              <h5 class="col-12">栈是和列表类似的一种数据结构</h5>
              <div class="col-12 text-dark">栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只
                能在栈顶添加或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只能在栈顶添加
                或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。</div>
              <span class="col-12 text-secondary my-1 date">July 6, 2018</span>
          </div>
        </main>
        <aside class="col-12 col-md-3">
          <div class="container">
            <div class="card bg-white mb-2 d-none d-md-block border-light">
              <div class="card-body">
                <h6 class="card-title mb-2 text-muted">下一篇</h6>
                <p><a href="#" class="card-link">标题</a></p>
                <h6 class="card-title mb-2 text-muted">上一篇</h6>
                <p><a href="#" class="card-link">标题</a></p>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
<% include footer %>