<footer class="bg-white">
    <span class="text-muted copy-right">Evan's Frontend © 2018</span>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/javascripts/jquery-slim.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>