<footer class="bg-white">
    <span class="text-muted copy-right">© 2018 Evan's Frontend</span>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/javascripts/jquery-slim.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>