<% include head %>
    <div class="container-fluid my-3">
      <div class="row">
        <main class="col-12 col-md-9">
          <div class="container">
            <% posts.forEach(function (post, index) { %>
            <article class="row bg-white border-bottom border-light pt-3">
              <h5 class="col-12"><a class="text-body" href="/post/<%= post.id %>"><%= post.title %></a></h5>
              <div class="col-12 text-dark abstract d-none d-sm-block"><%- post.content %></div>
              <span class="col-12 text-secondary my-1 date"><%= post.createdAt %></span>
            </article>
            <% }) %>
            <article class="row bg-white border-bottom border-light pt-3">
              <h5 class="col-12"><a class="text-body" href="#">栈是和列表类似的一种数据结构</a></h5>
              <div class="col-12 text-dark">栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只
                  能在栈顶添加或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只能在栈顶添加
                  或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。</div>
              <span class="col-12 text-secondary my-1 date">July 6, 2018</span>
            </article>
            <article class="row bg-white border-bottom border-light pt-3">
              <h5 class="col-12"><a class="text-body" href="#">栈是和列表类似的一种数据结构</a></h5>
              <div class="col-12 text-dark">栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只
                  能在栈顶添加或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只能在栈顶添加
                  或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。</div>
              <span class="col-12 text-secondary my-1 date">July 6, 2018</span>
            </article>
            <article class="row bg-white border-bottom border-light pt-3">
              <h5 class="col-12"><a class="text-body" href="#">栈是和列表类似的一种数据结构</a></h5>
              <div class="col-12 text-dark">栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只
                    能在栈顶添加或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。栈，又叫堆栈，是和列表类似的一种数据结构，但是却更高效，因为栈内的元素只能通过列表的一端访问，称为栈顶，数据只能在栈顶添加
                    或删除，遵循 先入后出(LIFO，last-in-first-out) 的原则，普遍运用于计算机的方方面面。</div>
              <span class="col-12 text-secondary my-1 date">July 6, 2018</span>
            </article>
          </div>
        </main>
        <% include sider %>
      </div>
    </div>
<% include footer %>