<aside class="col-12 col-md-3">
    <div class="container">
      <div class="card bg-white mb-2 d-none d-md-block border-light">
        <div class="card-body">
          <h6 class="card-title mb-2 text-muted">友链</h6>
          <p class="card-text"><small>以下为我精心挑选资源：</small></p>
          <a href="#" class="card-link">link</a>
          <a href="#" class="card-link">link</a>
          <a href="#" class="card-link">link</a>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
    </div>
</aside>