<aside class="col-12 col-md-3">
    <div class="container">
      <div class="card bg-white mb-2 d-none d-md-block border-light">
        <div class="card-body">
          <h6 class="card-title mb-2 text-muted">参考</h6>
          <p class="card-text"><small>以下为我精心挑选资源：</small></p>
          <a href="https://css-tricks.com/" class="card-link text-body">CSS-Tricks</a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" class="card-link text-body">ES6</a>
        </div>
      </div>
    </div>
</aside>