.date {
    font-size: 0.75rem;
}

.card-link:hover {
    text-decoration: underline;
}

.abstract {
    max-height: 10%;
    overflow: hidden;
}

footer{
    position:relative;
    height: 35px;
}

.copy-right {
    font-family: Cochin, Georgia, 'Times New Roman', serif;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.my-brand {
    font-family: Cochin, Georgia, 'Times New Roman', serif;
    font-style: italic;
}